.carb_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carb_counter_title {
  font-size: 35px;
  margin: 70px 0 30px 0;
}

.carb_counter_searcher {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carb_counter_searcher_right {
  display: flex;
  margin-left: 10px;
}

.carb_counter_searcher_input {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

.show_favourites_button {
  border: 1px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  margin-right: 10px;
}

.star_icon {
  color: var(--red);
}

.search_carbs_button {
  padding: 5px 15px;
  border: 1px solid var(--green);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

